body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo {
    font-weight: 900;
    font-size: 2rem;
}

.navbar ul {
    display: space-around;
    gap: 1rem;
    margin: 0;
    font-weight: bolder;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.card {
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.card>img {
    width: 100%;
    border-radius: 8px;
}


footer {
    background-color: var(--footer-bg);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-weight: 900;
    font-size: 20px;
}

.dark-mode-toggle{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 20px;
}
